* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --pale-cream: #f7e9dc;
  --orange: #ec755d;
  --pale-orange: #ff9c84;
  --font-light-weight: 300;
  --font-medium-weight: 400;
  --font-heavy-weight: 900;
}
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: var(--pale-cream);
  font-family: "Roboto", sans-serif;
}
/* 


header 


*/
header {
  background: var(--orange);
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--pale-cream);
}
header div {
  margin: 0 2rem;
}
header span {
  font-weight: var(--font-light-weight);
  font-size: 12px;
}
header h2 {
  font-weight: var(--font-heavy-weight);
  font-size: 20px;
  margin-top: 0.3rem;
  margin-bottom: 0rem;
}
.circle-filled {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--dark-brown);
}
.circle-empty {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  right: 45px;
  background: transparent;
  border: 2px solid var(--very-pale-orange);
}
/*


main


*/
main {
  background: var(--very-pale-orange);
  border-radius: 15px;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}
main .title {
  width: 80%;
  position: relative;
  top: 20px;
  margin-bottom: 1.3rem;
  color: var(--dark-brown);
  font-weight: var(--font-heavy-weight);
  font-size: 20px;
  text-align: left;
}
.stats {
  width: 80%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-top: 2px solid var(--pale-cream);
  border-radius: 2px;
  padding-top: 1rem;
  margin-top: 4rem;
  color: var(--dark-brown);
}
.stats span {
  font-size: 10px;
  text-align: left;
  font-weight: var(--font-medium-weight);
  opacity: 0.5;
}
.stats h2 {
  font-weight: var(--font-heavy-weight);
}
.stats h5 {
  font-size: 13px;
}
.stats div:nth-of-type(1) {
  text-align: left;
}
.stats div:nth-of-type(2) {
  position: absolute;
  text-align: right;
  bottom: 0.25rem;
  right: 0;
  line-height: 0.8;
}
/*


charts


*/
.chart-container {
  width: 80%;
  height: 55%;
  /* background: hsl(246, 33%, 48%); */
}
.chart {
  width: 100%;
  height: 90%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0rem;
  justify-content: center;
  place-items: center;
  /* background: hsl(106, 100%, 48%); */
}
.individual-chart {
  width: 80%;
  height: 100%;
  position: relative;
  /* background: rgba(255, 0, 0, 0.096); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  font-weight: 300;
  font-size: 10px;
  text-align: center;
}
.individual-chart:hover .price {
  opacity: 1;
}
.individual-chart:hover .column {
  opacity: 1;
  background: var(--pale-orange);
}
.column {
  width: 90%;
  height: 100px;
  border-radius: 3px;
  background: var(--orange);
}
.price {
  background: var(--dark-brown);
  color: var(--pale-cream);
  font-size: 9px;
  font-weight: var(--font-medium-weight);
  margin-bottom: 5px;
  padding: 6px 4px;
  border-radius: 3px;
  opacity: 0;
}
.day {
  margin-top: 0.2rem;
  font-size: 10px;
  font-weight: var(--font-heavy-weight);
  opacity: 0.3;
}
